@import "tailwindcss";

@theme {
  --color-primary: #8b9fd4;
  --color-primary-dark: #2d3a5e;
}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
